:root {
  --primary-font: "Noto Sans Thai", "Noto Sans", sans-serif;
}

body {
  font-family: var(--primary-font);
}

#root {
  font-family: "Noto Sans Thai", "Noto Sans", sans-serif;
}

.Toastify__toast {
  font-family: "Noto Sans Thai", "Noto Sans", sans-serif !important;
}

.form-control::placeholder {
  color: #6c757d !important;
  font-size: 0.875rem;
}
